apiVersion: apps/v1
kind: Deployment
metadata:
  name: hash-service
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: hash-service
  template:
    metadata:
      labels:
        app: hash-service
    spec:
      containers:
      - name: app
        image: {{ .Values.image }}
        ports:
        - containerPort: 8080
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: url
